/**
 * Attributes are similar to sections in that they are used to divide up
 * configuration blocks within a dialog's view. However attributes
 * exclusively support text inputs (no switches) and both the name and value of
 * an attribute can be modified (unlike sections where the label is fixed).
 */
.ct-widget {

    .ct-attribute {
        display: table-row;
        vertical-align: top;

        /**
         * Each section has a name and value component, both of which can be
         * modified.
         */
        &__name {
            display: table-cell;
            background: #f6f6f6;
            border: none;
            border-bottom: 1px solid #eee;
            color: $text-color;
            outline: none;
            padding: 1em;
            @include type-text($line-height: normal);
            width: 25%;

            @media (max-width: 500px) {
                padding: 0.7em;
                width: 40%;
            }

            /**
             * If the the attributes name is invalid then the `invalid` modifier
             * is set against the input (programmatically).
             */
            &--invalid {
                color: $cancel-action-color;
            }
        }

        &__value {
            display: table-cell;
            background: white;
            border: none;
            border-bottom: 1px solid #eee;
            color: $text-color;
            outline: none;
            padding: 1em;
            @include type-text($line-height: normal);
            width: 75%;

            @media (max-width: 500px) {
                padding: 0.7em;
                width: 60%;
            }
        }
    }
}