/**
 * Attributes are similar to sections in that they are used to divide up
 * configuration blocks within a dialog's view. However attributes
 * exclusively support text inputs (no switches) and both the name and value of
 * an attribute can be modified (unlike sections where the label is fixed).
 */
.ct-widget {

  .ct-attribute {
    @include clearfix;
    vertical-align: top;
    height: 48px;
    border-bottom: 1px solid #eee;

    /**
     * Each section has a name and value component, both of which can be
     * modified.
     */
    &__name {
      @include type-text($line-height: 48px);
      float: left;
      border: none;
      height: 47px;
      width: 25%;
      padding: 0 16px;
      background: #f6f6f6;
      color: $text-color;
      outline: none;

      /**
       * If the the attributes name is invalid then the `invalid` modifier
       * is set against the input (programmatically).
       */
      &--invalid {
        color: $cancel-action-color;
      }

    }

    &__value {
      @include type-text($line-height: 48px);
      float: right;
      border: none;
      height: 47px;
      width: 75%;
      padding: 0 16px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: white;
      color: $text-color;
      outline: none;
    }

  }

}
