/**
 * Grip's provide a visual hint to the user that they can use the mouse to drag
 * an item (for example the toolbar has a grip that can be used to drag it to a
 * new location.
 */

.ct-widget {

  .ct-grip {
    @include user-select(none);
    font-size: 0;
    text-align: center;
    cursor: move;

    /**
     * Grips consist of one or more bumps, elements that appear to be sunk
     * or raised and therefore provide grip.
     */
    &__bump {
      $grip-size: 12px;
      display: inline-block;
      height: $grip-size;
      width: $grip-size;
      margin-left: $grip-size;
      background: rgba($icon-color, 0.15);
      border-radius: $grip-size;

      &:first-child {
        margin-left: 0;
      }

    }

  }

}
