/**
 * Sections are used to divide up configuration blocks within a dialog's view.
 * They contain wither a switch or an input, for example the table dialog has
 * header (switch), body (input - e.g number of columns) and footer (switch)
 * sections.
 */

.ct-widget {

  .ct-section {
    @include clearfix;
    @include type-text($font-size: 16px, $line-height: 48px);
    height: 48px;
    border-bottom: 1px solid #eee;
    padding: 0 16px;
    font-style: italic;
    cursor: pointer;
    color: lighten($text-color, 35%);

    &:hover {
      background: #f6f6f6;
    }

    /**
     * If the section is a switch then the `applied` modifier is set when
     * the switch is on.
     */
    &--applied {
      font-style: normal;
      color: $text-color;

      .ct-section__switch {
        background-color: #27ae60;
        border: 1px solid darken(#27ae60, 10%);

        &:before {
          @include transition-property(left);
          @include transition-duration(0.1s);
          @include transition-timing-function(ease-in);
          left: 25px;
        }

      }

    }

    /**
     * If the section contains an input field the `contains-input` modifier
     * is set.
     */
    &--contains-input {

      .ct-section__label {
        width: 75%;
      }

    }

    /**
     * Each section has a label describing the purpose of the switch or
     * input within the section.
     */
    &__label {
      float: left;
      overflow: hidden;
      width: 472px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__switch {
      position: relative;
      float: right;
      height: 24px;
      width: 48px;
      border: 1px solid darken(#ccc, 10%);
      margin-top: 12px;
      background-color: #ccc;
      box-shadow: inset 0px 0 2px rgba(black, 0.1);
      border-radius: 12px;

      &:before {
        @include transition-property(left);
        @include transition-duration(0.1s);
        @include transition-timing-function(ease-in);
        position: absolute;
        top: 1px;
        left: 1px;
        height: 20px;
        width: 20px;
        content: '';
        background: white;
        border-radius: 10px;
      }

    }

    &__input {
      @include type-text($line-height: 48px);
      float: right;
      height: 47px;
      width: 25%;
      border: none;
      padding: 0 16px;
      text-align: right;
      background: white;
      color: $text-color;
      outline: none;

      /**
       * If the contents of the sections input is invalid then the
       * `invalid` modifier is set against the input (programmatically).
       */
      &--invalid {
        color: $cancel-action-color;
      }

    }

  }

}
