/**
 * Sections are used to divide up configuration blocks within a dialog's view.
 * They contain wither a switch or an input, for example the table dialog has
 * header (switch), body (input - e.g number of columns) and footer (switch)
 * sections.
 */

.ct-widget {

    .ct-section-wrap {
        display: table;
        width: 100%;
        border-collapse: collapse;
    }

    .ct-section {
        display: table-row;
        color: lighten($text-color, 35%);
        cursor: pointer;
        font-style: italic;
        @include type-text($font-size: 16px, $line-height: normal);

        &:hover {
            background: #f6f6f6;
        }

        /**
         * If the section is a switch then the `applied` modifier is set when
         * the switch is on.
         */
        &--applied {
            color: $text-color;
            font-style: normal;

            .ct-section__switch {
                background-color: #27ae60;
                border: 1px solid darken(#27ae60, 10%);

                &:before {
                    left: 25px;
                    @include transition-property(left);
                    @include transition-duration(0.1s);
                    @include transition-timing-function(ease-in);
                }
            }
        }

        /**
         * Each section has a label describing the purpose of the switch or
         * input within the section.
         */
        &__label {
            display: table-cell;
            padding: 0.85em 1em;
            border-bottom: 1px solid #eee;
            vertical-align: middle;
        }

        &__switch-wrap {
            display: table-cell;
            border-bottom: 1px solid #eee;
            padding: 0.85em 1em;
            width: 48px;
            vertical-align: middle;
        }

        &__switch {
            background-color: #ccc;
            border: 1px solid darken(#ccc, 10%);
            border-radius: 12px;
            box-shadow: inset 0px 0 2px rgba(black, 0.1);
            position: relative;
            float: right;
            width: 48px;
            height: 24px;

            &:before {
                background: white;
                border-radius: 10px;
                content: '';
                width: 20px;
                height: 20px;
                left: 1px;
                position: absolute;
                top: 1px;
                @include transition-property(left);
                @include transition-duration(0.1s);
                @include transition-timing-function(ease-in);
            }
        }

        &__input-wrap {
            display: table-cell;
            position: relative;
            border-bottom: 1px solid #eee;
            width: 25%;
        }

        &__input {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            border: none;
            padding: 0.85em 1em;
            background: white;
            color: $text-color;
            width: 100%;
            height: 100%;
            outline: none;
            text-align: right;

            /**
             * If the contents of the sections input is invalid then the
             * `invalid` modifier is set against the input (programmatically).
             */
            &--invalid {
                color: $cancel-action-color;
            }
        }

    }

}